@font-face {
  font-family: "spotify";
  src: url("font/Gotham-Medium\ 500.ttf");
}

body {
  color: #ffffff;
  background-color: #121212;
  margin: 0;
  font-family: "spotify", sans-serif;
  font-size: 1.1rem;
}

h1 {
  font-size: 3.1rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.2em;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
}

h3,
h4,
h6 {
  margin: 0;
}

header {
  color: #ffffff;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 20px 200px 20px 200px;
  align-items: center;
}

header img {
  max-height: 40px;
}

.header-menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
}

.header-menu a:hover {
  color: #1ed760;
  text-decoration: none;
}

.article {
  background-position: right top, center -25%;
  background-image: url(images/background-albums.png),
    linear-gradient(0deg, rgba(255, 210, 215, 0) 70%, #ffd2d7 120%);
  background-size: min(60% 800px), 100% 40%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  max-width: 1270px;
  width: 100%;
  /* margin: 40px 50% 10px 20%; */
}

.info-text {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 3.5rem 0rem;
}

.info-text p {
  margin-top: 5px;
}

.content {
  max-width: 1270px;
  text-align: center;
  margin: auto;
}

button {
  font-family: "spotify", sans-serif;
  font-size: 1.1rem;
  border-radius: 40px;
  padding: 15px 25px 15px 25px;
  border: none;
  margin: 10px 1.5px;
}

.buttons-div {
  display: flex;
}

.conditions a,
.card-footer a {
  font-size: 0.7rem;
  padding-top: 30px;
  color: #ffffff;
}

.table-plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.table-info {
  font-size: 1.25em;
  max-width: 50%;
}

table {
  font-size: 1.025rem;
  max-width: 500px;
  text-align: left;
  border-collapse: collapse;
  background-image: linear-gradient(180deg, #ad2489 20%, #2c4575 100%);
  margin-bottom: 75px;
}

th {
  height: 80px;
  border-bottom: 1px solid #ffffff;
  padding: 15px;
  background-color: #121212;
}

td {
  border-bottom: 1px solid #ffffff;
  background-color: #121212;
  padding: 20px 10px;
}

th:first-child {
  vertical-align: bottom;
}
td:first-child {
  width: 42%;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.25rem;
  line-height: 1.5;
}

th:nth-child(2) {
  background-color: #ffffff;
  color: #000000;
  width: 29%;
}
td:nth-child(2) {
  width: 29%;
  text-align: center;
}

th:last-child {
  background-color: transparent;
  width: 29%;
}
td:last-child {
  background-color: transparent;
  width: 29%;
  text-align: center;
}

.payment-methods {
  margin: 40px;
}
.payment-methods img {
  border-radius: 5px;
  padding: 0px 3px;
  max-height: 35px;
  background-color: #ffffff;
}

.button-individual {
  background-color: #ffd2d7;
  color: #000000;
}

.button-see-plans {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.card {
  border: 5px solid #ffd2d7;
  border-radius: 1em;
}

.plans-info {
  grid-area: plans-info;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.border-gradient {
  background: linear-gradient(#121212, #121212) padding-box,
    linear-gradient(to right, #b00d6e, #084791) border-box;
  border: 4px solid transparent;
}

.card {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body ul {
  text-align: left;
}

.card-footer {
  display: flex;
  flex-direction: column;
}

.card-footer p {
  font-size: 0.7rem;
}

.price {
  display: flex;
  flex-direction: column;
}

.individual {
  grid-area: individual;
}
.individual button {
  background-color: #ffd2d7;
}

.students {
  grid-area: students;
  border-color: #c4b1d4;
}

.students button {
  background-color: #c4b1d4;
}
.duo {
  grid-area: duo;
  border-color: #ffc862;
}
.duo button {
  background-color: #ffc862;
}

.familiar {
  grid-area: familiar;
  border-color: #a5bbd1;
}

.familiar button {
  background-color: #a5bbd1;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 60px;
  grid-template-areas:
    "plans-info plans-info plans-info"
    "individual students duo"
    ". familiar .";
}

.qa {
  margin-top: 150px;
}

.qa-dropdowns {
  text-align: left;
}

.qa-dropdowns details {
  padding: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.qa-dropdowns details:last-child {
  padding: 20px;
  border-bottom: none;
  margin-bottom: 100px;
}

footer {
  background-color: #000000;
  height: 200px;
}
